.dropdown {
  position: absolute;
  top: 100%;
  margin-top: 1.5rem;
  background: var(--background-color, white);
  border: 1px solid rgba(123, 31, 162, 0.188);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  min-width: 180px;
  z-index: 1000;
  overflow: hidden;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  color: var(--text-color, #2d3748);
  font-family: "Inter", sans-serif;

  &--left {
    left: -20px;
  }

  &--right {
    right: 0;
  }

  .dropdown-item {
    display: block;
    width: 100%;
    padding: 12px 16px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    color: black;
    transition: all 0.2s ease;
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);

    &:hover {
      background-color: rgba(123, 31, 162, 0.125);
      color: black;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(226, 232, 240, 0.125);
    }
  }



  @media (max-width: 768px) {
    min-width: 160px;
    
    &--left {
      left: 0;
    }
    
    &--right {
      right: 0;
    }
  }
}

  // Темная тема
[data-theme="dark"] {
 .dropdown-item {
  color: white;
 }

  .dropdown-item:hover {
  color: white;
 }
}