// Стили для выпадающего списка слева
.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 1.2rem;
  background: var(--background-color, white);
  border: 1px solid rgba(123, 31, 162, 0.188);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  min-width: 180px;
  z-index: 1000;
  overflow: hidden;
  animation: dropdownFadeIn 0.2s ease-out;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  color: var(--text-color, #2d3748);
   font-family: "Inter", sans-serif;

  &--left {
    left: -40%;
    right: auto;
  }

  &--right {
    right: -20%;
    left: auto;
  }

  .dropdown-item {
    display: block;
    width: 100%;
    padding: 12px 16px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    font-family: 'Onest', sans-serif;
    font-size: 14px;
    color: var(--text-color, #2d3748);
    transition: all 0.2s ease;
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
     font-family: "Inter", sans-serif;

    &:hover {
      background-color: var(--background-color);
      color: var(--text-color);
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(226, 232, 240, 0.125);
    }
  }

  @keyframes dropdownFadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (max-width: 768px) {
    min-width: 160px;
    right: -10%;

    &--right {
      right: -20%;
    }

    &--left {
      left: 0%;
    }
    
  }

  @media (max-width: 480px) {
    right: -40%;

    &--right {
      right: -40%;
    }

    &--left {
      left: 0%;
    }
  }
}