// Стили страницы "О нас"

.work-container {
  width: 100vh;
  margin: 0 auto;
  padding: 20px;
}

.work-title {
  text-align: center;
  margin-bottom: 20px;
  
  p {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
}

.work-ZION,
.work-ETog {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 40px;
}

.work-ZION {
  .image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
     width: 25vh;
    flex: 0 0 auto;
  }
  
  .description-section {
    display: flex;
    align-items: center;
  }
}

.work-ETog {
  .description-section {
    display: flex;
    align-items: center;
    order: 1;
  }
  
  .image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vh;
    flex: 0 0 auto;
    order: 2;
  }
  .profile-image {
    cursor: pointer;
  }
}

.profile-image {
  aspect-ratio: 1/1;
  width: 25vh;
  border-radius: 1.15rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  height: auto;
  object-fit: cover;
}

.work-photo-footer {
   font-family: "Inter", sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-top: 8px;
}

.work-photo-description {
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
  line-height: 1.5;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .work-container {
    width: 90%;
    max-width: 80vh;
  }
  
  .work-ZION,
  .work-ETog {
    flex-direction: column;
    gap: 15px;
  }
  
  .work-ETog {
    .description-section {
      order: 1;
    }
    
    .image-section {
      order: 2;
    }
  }
  
  .profile-image {
    width: 25vh;
  }
}