// Стили для Футер (Footer) Подвала сайта

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 2rem;
  background: var(--footer-bg, #7b1fa2);
  color: var(--footer-text, #ffffff);
  margin-top: auto;
  box-sizing: border-box;
  min-height: 140px;

  .footer-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    height: 100%;

    p {
      margin: 0;
      padding: 0.2rem 0;
      font-size: 0.9rem;
      line-height: 1.3;
      cursor: pointer;
      transition: all 0.2s ease;
       font-family: "Inter", sans-serif;

      &:hover {
        opacity: 0.8;
        transform: scale(1.03);
      }
    }

    .qr-code-section {
      
      .qr-code-image {
        width: 170px;
        height: 170px;
        object-fit: contain;
        margin-bottom: 10px;
        cursor: pointer;
      }
      
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 2rem var(--padding-x);
    min-height: 160px;
    
    .footer-column {
      gap: 0.8rem;

      p {
        font-size: 0.9rem;
      }

      .qr-code-section {
        padding: 10px;
        
        .qr-code-image {
          width: 140px;
          height: 140px;
        }
      }
    }
  }
}